<div class="container p-4">
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Puesto</th>
                <th>Sueldo</th>
                <th>Departamento</th>
                <th> </th>
            </tr>
        {{#each usuarios}}
            <tr>
                <td>{{nombre_empleado}}</td>
                <td>{{edad_empleado}}</td>
                <td>{{sexo_empleado}}</td>
                <td>{{id_puesto}}</td>
                <td>{{sueldo}}</td>
                <td>{{departamento}}</td>
                <td><a class="btn btn-primary" href="/crud/editar/{{id_empleados}}" >Editar datos</a></td>
            </tr>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="crad card-body text-center">
                    <p>No hay empleados registrados</p>
                    <a href="/crud/agregar">Agregar un empleado</a>
                </div>
            </div>
            
        {{/each}}
        </table> 
    </div>
</div>